/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}

/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

:root {
	--primary-color: #7267DB;
	--primary-light: #A399FF;

	--secondary-color: #050B18;
	--secondary-color-light: #20242F;
	--secondary-color-light-text: #73757b;

	--text-color: #CBCED4;
	--text-color-light: #7D828D;

	--green: #48A061;
	--yellow: #FFC13B;
	--red: #EA5E50;
	--white: #FFFFFF;

	--pc-color: #ED6A6A;
	--ps-color: #4F6BB3;
	--xbox-color: #4FB359;

	--default-padding: 24px;
	--default-padding-negative: -24px;

	--padding-small: 12px;
	--padding-medium: 16px;

	--nav-height: 80px;
	--profile-header-height: 267px;
	--filter-height: 35px;

	--profile-width: 370px;

	--border-settings: 2px solid #20242F;
	--border-radius: 7px;

	--btn-hover-transition: all 150ms ease-in-out;
	--default-transition: 250ms ease-in-out;
	--btn-hover-scale: scale(1.02);
}
/* =============================================================================
  #GENERAL
============================================================================= */
* {
	font-family: inherit;
	line-height: inherit;
	color: inherit;
}

html {
	min-height: 100%;
	height: 100%;

	font-size: 16px;
	font-size: 62.5%;
}

body {
	position: relative;
	font-weight: 400;
	font-style: normal;

	font-family: 'Quicksand', sans-serif;	color: var(--color-main);
	font-size: 16px; font-size: 1.6rem;
	line-height: 1.4;
	color: var(--text-color-light);

	min-height: 100vh;
	min-height: -webkit-fill-available;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--secondary-color);
}

body.overlay::before {
	content: "";

	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 100vh;

	background-color: rgba(0, 0, 0, .6);
	z-index: 150;
}

img {
	max-width: 100%;
	font-style: italic;
	vertical-align: middle;
}

picture {
	display: block;
}

	picture img, picture source {
		width: 100%;
		height: 100%;

		object-fit: cover;
	}

/* =============================================================================
  #CUSTOM FOCUS
============================================================================= */
*:focus-visible {
	border: 2px solid var(--white)!important;
	outline: none;
	border-radius: var(--border-radius);
}

#apply-filters-desktop:focus-visible {
	border: 2px solid var(--primary-color)!important;
}

.btn-container button:focus-visible {
	border: 2px solid var(--secondary-color)!important;	
}

.btn-container button:last-of-type:focus-visible {
	border: 2px solid var(--white)!important;		
}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: var(--text-color);
}

h1 {
	font-size: 20px; font-size: 2.0rem;
}

	h1 > span {
		color: var(--text-color-light);
		font-weight: 500;
	}

	h1 + .tags { margin-top: 6px; }

h2 {
	margin-bottom: 12px;
	font-size: 18px; font-size: 1.8rem;
}

/* Heading 3 */
h3 { font-size: 16px; font-size: 1.6rem; }

p { margin-bottom: 2rem; }

a {
	color: #549fd7;
	text-decoration: none;
}

strong { font-weight: 700; }

em, i { font-style: italic; }

ul, ol, li {
	padding-left: 0;
	list-style: none;
}

.hide { display: none!important; }

/* =============================================================================
  #TAGS
============================================================================= */
.tags {
	display: flex;
	flex-direction: row;
}

	.tags span {
		font-size: 12px; font-size: 1.2rem;
		color: var(--secondary-color-light-text);
		font-weight: 700;

		padding: 5px var(--padding-small);
		border-radius: 20px;

		background-color: var(--secondary-color-light);
	}

	.tags span + span {
		margin-left: 6px;
	}

	.tags--platform span {
		color: var(--white);
	}

	.tags--platform__pc {
	    background-color: var(--pc-color) !important;
	}

	.tags--platform__ps {
	    background-color: var(--ps-color) !important;
	}

	.tags--platform__xbox {
	    background-color: var(--xbox-color) !important;
	}

/* =============================================================================
  #MAIN HEADER
============================================================================= */
body > header {
	padding: var(--default-padding);
}

	/* Search bar */
	body > header input[type="text"] {
		position: relative;

		padding: var(--padding-small);
		width: 100%;

		background-color: var(--secondary-color-light);
		color: var(--primary-color);

		box-shadow: none;
		border: none;
		border-radius: 30px;

		background-image: url("../images/icons/search-icon.svg");
		background-repeat: no-repeat;
		background-position: var(--default-padding) center;
		background-size: 16px;

		padding-left: calc(var(--default-padding) + var(--default-padding));
	}

		body > header input[type="text"]::placeholder {
			font-weight: 700;
			font-size: 14px; font-size: 1.4rem;
		}

/* =============================================================================
  #FILTERS
============================================================================= */
.filters {
	position: relative;

	display: flex;
	flex-direction: column;

	margin-top: var(--padding-medium);

	min-height: var(--filter-height);
	overflow-x: scroll;
}

	.filters .filters__menu {
		display: flex;
		flex-direction: column-reverse;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;

		transform: translateY(-100%);
		transition: var(--btn-hover-transition);
	}

		.filters__menu button {
			margin-top: 18px;
			background-color: var(--white);
			color: var(--primary-color);
		}

		.filters .filters__container {
			display: flex;
			flex-wrap: wrap;
			gap: var(--padding-small);
		}

	.filters .filters__menu--open {
		margin-top: 0!important;
		top: auto;
		left: auto;
		right: auto;
		transform: translateY(0);
		position: relative;
		padding-top: calc(var(--filter-height) + var(--padding-medium));
	}

	/* Buttons outside filter menu div */
	.filters > button {
		position: absolute;

		top: 0;
		left: 0;
		right: 0;

		z-index: 100;

		height: var(--filter-height);
	}

	.filters legend { display: none; }

	/* FILTER CHECKBOX */
	.filters fieldset, 
	.filters fieldset li {
		flex-grow: 1;
	}

		.filters fieldset input[type="checkbox"] {
			position: absolute;

			top: 0;
			left: 0;

			opacity: 0;
		}

		.filters fieldset input[type="checkbox"]:focus-visible + label {
			outline: 2px solid var(--white);
		}

		.filters fieldset input[type="checkbox"]:checked + label {
			background-color: var(--primary-color);
			color: var(--white);
		}

		/* The actual checkbox */
		.filters fieldset label {
			display: flex;
			align-items: center;

			padding: 8px var(--padding-small);

			height: 100%;
			
			cursor: pointer;

			color: var(--secondary-color-light-text);
			font-size: 14px; font-size: 1.4rem;
			font-weight: 700;

			border-radius: 18px;
			background-color: var(--secondary-color-light);
			transition: var(--btn-hover-transition);
		}

			/* selection circle */
			.filters fieldset label > span:first-of-type {
				display: flex;
				align-items: center;
				justify-content: center;

				padding: 4px;

				width: 20px;
				height: 20px;
				
				border-radius: 50%;

				background-color: #E9EAEC;

				margin-right: 6px;
			}

			.filters fieldset label > span:last-of-type { margin: 0 auto; }

			@keyframes checkmarkAnimation {
			    0% {
			        opacity: 0;
			        transform: scale(1.4);
			    }

			    50% {
			        opacity: 100%;
			        transform: scale(0.8);
			    }

			    100% {
			        opacity: 100%;
			        transform: scale(1);
			    }
			}

			.filters fieldset label > span img, 
			.filters fieldset label > span svg {
			    opacity: 0;
			    width: auto;

			    transition: all 270ms ease-in-out;
			    animation-duration: .55s;
			    animation-timing-function: linear;
			    animation-fill-mode: forwards;
			    animation-direction: normal;
			    animation-iteration-count: 1;
			}

			.filters fieldset label > span svg {
				fill: var(--primary-color);
			}

			.filters input[type="checkbox"]:checked + label > span img,
			.filters input[type="checkbox"]:checked + label > span svg {
			    animation-name: checkmarkAnimation;
			}

/* =============================================================================
  #NAV
============================================================================= */
nav {
	position: fixed;

	left: 0;
	right: 0;
	bottom: 0;

	border-top: var(--border-settings);
	background-color: var(--secondary-color);

	height: var(--nav-height);
	
	z-index: 100;
}

.nav--desktop {  display: none; }

	nav ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		height: 100%;

		margin: 0 var(--default-padding);
	}

		nav ul li {
			font-size: 14px; font-size: 1.4rem;
		}

			nav ul li a {
				display: block;
				text-decoration: none;
				color: var(--white);
				font-weight: 700;

				padding: 6px var(--padding-small);
				background-color: transparent;

				border-radius: 20px;

				transition: var(--btn-hover-transition);
			}

			nav ul li a:hover {
				transform: var(--btn-hover-scale);
			}

			nav ul li.active a {
				background-color: var(--primary-color);
			}

/* =============================================================================
  #MAIN
============================================================================= */
main {
	position: relative;
	margin: 0 var(--default-padding);

	padding: var(--default-padding) 0 calc(var(--nav-height) + var(--default-padding)) 0;
}

	section.list { margin: 0 var(--default-padding-negative) 0 var(--default-padding-negative); }

	section.list--grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		padding: var(--padding-medium) var(--default-padding);
	}

		section.list h2 { margin: 0 0 0 var(--default-padding); }
		section.list--grid h2 { margin: 0!important; }

	section.list + .list {
		margin-top: var(--default-padding);
	}

		section.list ol {
			display: flex;
			align-items: center;
			flex-direction: row;

			padding: var(--padding-medium) var(--default-padding);

			overflow-x: scroll;

			border: 2px solid var(--secondary-color);
			border-radius: var(--border-radius);
		}

			section.list ol li {
				position: relative;

				width: 220px;
				min-width: 220px;

				overflow: hidden;
			}

				section.list ol li a {
					display: flex;

					border: 2px solid transparent;
					border-radius: var(--border-radius);
				}

					section.list ol li h3 {
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;

						width: 100%;
					}

					.dummy h3 {
						display: inline-block;

						width: 70%!important;
						height: 20px;

						border-radius: 4px;

						background-color: var(--white);

						opacity: 25%;
					}

					section.list ol li a > figure, 
					section.list ol li a > figure picture, 
					section.list ol li a > figure picture > img {
						width: 100%;
						border-radius: var(--border-radius);
					}

					section.list ol li a > figure {
						position: relative;
						height: 100%;
					}

						section.list ol li a > figure > button {
							position: absolute;

							display: flex;
							align-items: center;
							justify-content: center;

							right: 6px;
							top: 6px;

							min-width: 30px;
							height: 30px;
							padding: 0;

							border-radius: 50%;

							opacity: 0;
							transition: opacity 150ms ease-in-out;
						}

						section.list ol li a > figure > button:focus-visible,
						section.list ol li:hover a > figure > button {
							opacity: 100%;
						}

							section.list ol li a > figure > button > img {
								width: 10px;
								height: auto;
							}

						.add-game {
							background-color: var(--green);
							transform: rotate(45deg);
						}

						.remove-game {
							background-color: var(--red);
						}

						section.list ol li a > figure figcaption {
							padding: var(--padding-small) var(--padding-medium);

							border-bottom-left-radius: var(--border-radius);
							border-bottom-right-radius: var(--border-radius);

							background-color: var(--secondary-color-light);
						}

							/* Rating container */
							section.list ol li a > figure figcaption > div {
								display: flex;
								align-items: center;
								justify-content: space-between;	
							}

								/* Star container: default */
								section.list ol li a > figure figcaption > div > div {
									display: inline-block;	 
								}

						.dummy figcaption { 
							border-top: 2px solid #2e3340;
						}

						section.list ol li a > figure picture {
							height: 110px;
						}

						section.list ol li a > figure picture,
						section.list ol li a > figure picture > img {
							border-bottom-left-radius: 0;
							border-bottom-right-radius: 0;
						}

							section.list ol li a > figure picture > img {
								object-fit: cover;
								object-position: center;
							}

							.dummy img { object-fit: contain; }

			section.list ol li + li { margin-left: var(--padding-medium); }

			.draggable { cursor: grab; }

			.draggable--mobile { cursor: pointer; }

		section.list .list__empty {
			position: relative;

			margin: var(--padding-medium) var(--default-padding);

			min-height: 150px;

			background-color: var(--secondary-color-light);
			transition: border var(--default-transition);
		}

		.list__empty::before {
			content: "Add games via library!";
			position: absolute;

			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);

			text-align: center;
			color: var(--secondary-color-light-text);
			font-weight: 600;
		}
		
		/* When user is about to drag an item */
		.list__empty--active {
			border: 2px solid var(--primary-color)!important;
		}

		/* Notif for when game is already in collection */
		.list__drag-container--block { position: relative; }

		.list__drag-container--block::before {
			content: "Game is already in this list!";

			position: absolute;

			display: flex;
			align-items: center;
			justify-content: center;

			top: 50%;
			left: var(--default-padding);
			right: var(--default-padding);

			transform: translateY(-50%);

			text-align: center;
			color: var(--white);
			font-weight: 600;

			z-index: 100;

			height: 30%;
			
			background-color: rgb(205 40 40 / 75%);
		}

		section.list--grid ol {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
			gap: 18px;

			width: 100%;

			padding: 0;
			margin: var(--default-padding) 0 0 0;
		}

			section.list--grid ol li {
				width: auto;
				min-width: auto;

				overflow: unset;
			}

				section.list--grid ol li a > figure picture { height: 170px; }

			section.list--grid ol li + li { margin-left: 0; }

		section.list ol::-webkit-scrollbar, 
		.filters::-webkit-scrollbar, 
		section.profile::-webkit-scrollbar {
		    display: none;
			-ms-overflow-style: none;
			scrollbar-width: none;
		}

/* =============================================================================
  #PROFILE HEADER
============================================================================= */
.profile > header {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	height: var(--profile-header-height);
}

	/* Profile header */
	.profile > header > picture {		
		height: 135px;
		width: 100%;
	}

		.profile > header > picture source, .profile > header > picture img {
			object-position: top center;
		}

	/* Profile info */
	.profile > header > section {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;
		height: 100%;

		padding-top: 47px; /* 2 padding + 45 profile pic height*/
		padding-bottom: var(--default-padding);
		text-align: center;
	}

		.profile > header > section > picture {
			position: absolute;

			top: -45px;
			left: 50%;
			transform: translateX(-50%);

			width: 90px;
			height: 90px;

			border: 6px solid var(--secondary-color)
		}

		.profile > header > section > picture, 
		.profile > header > section > picture img { border-radius: 50%; }

header + main, 
section.profile > header + section {
	border-top: var(--border-settings)
}

/* =============================================================================
  #PROFILE SECTION
============================================================================= */
section.profile {
	position: fixed;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	transform: translateX(-100%);

	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 100;

	background-color: var(--secondary-color);

	transition: var(--btn-hover-transition);
}

section.profile--open {
	transform: translateX(0);
}

	/* Main section of profile */
	section.profile > section {
		position: relative;

		margin: 0 var(--default-padding);
		padding: var(--default-padding) 0 calc(var(--nav-height) + var(--default-padding)) 0;
	}
/* =============================================================================
  #STAR RATING
============================================================================= */
.star {
    width: 12px;
    height: auto;

    opacity: 25%;

	fill: var(--white);
}

.star--red, 
.star--yellow, 
.star--green { opacity: 100%; }

.star--red { fill: var(--red); }
.star--yellow { fill: var(--yellow); }
.star--green { fill: var(--green); }

/* Text translation of star rating */
.rating {
	margin-bottom: 0;

	background-color: var(--white);
	opacity: 25%;

	padding: 0px 4px;

	color: var(--white);
	font-size: 14px;
	font-weight: 700;

	border-radius: 4px;
}

.rating--red, 
.rating--yellow, 
.rating--green, 
.rating--null { opacity: 100%; }

.rating--red { background-color: var(--red); }
.rating--yellow { background-color: var(--yellow); }
.rating--green { background-color: var(--green); }
.rating--null { background-color: var(--primary-color); }

/* =============================================================================
  #EMPTY STATE
============================================================================= */
.empty-state {
	position: absolute;

	top: 50%;
	left: 50%;

	width: 100%;

	transform: translate(-50%, -50%);

	text-align: center;
}

/* =============================================================================
  #NOTIFICATIONS
============================================================================= */
.notification {
	position: fixed;

	left: var(--default-padding);
	right: var(--default-padding);
	bottom: 0;

	padding: 14px;

	color: var(--white);
	font-weight: 700;
	font-size: 14px; font-size: 1.4rem;

	border-radius: var(--border-radius);

	background-color: var(--primary-color);
	transition: var(--btn-hover-transition);
}

	.notification p {
		margin: 0;
		text-align: center;
	}

.notification--open { bottom: calc(var(--nav-height) + var(--default-padding)); }
.notification--added { background-color: var(--green); }
.notification--removed { background-color: var(--red); }

/* =============================================================================
  #BUTTONS
============================================================================= */
button, .btn {
    display: inline-block;
    padding: 8px;

    min-width: 130px;

    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    cursor: pointer;

    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: none;

    transition: var(--btn-hover-transition);
}

.btn:hover { transform: var(--btn-hover-scale); }

.btn-container {
	position: fixed;

	display: flex;
	flex-direction: column;
	justify-content: center;

	left: var(--default-padding);
	right: var(--default-padding);
	bottom: 0;

	padding: 31px var(--padding-medium) var(--padding-medium) var(--padding-medium);

	border-radius: var(--border-radius);

	background-color: var(--primary-color);

	transform: translate(0, 100%);
	transition: var(--btn-hover-transition);

	z-index: 200;
}

.btn-container::before {
	content: "";
	position: absolute;

	top: var(--padding-small);
	left: 50%;

	transform: translateX(-50%);

	height: 3px;
	width: 50px;

	border-radius: 3px;

	background-color: #C7C1FF;
}

	.btn-container button + button {
		margin-top: var(--padding-small);
	}

	.btn-container > h1 {
		font-size: 18px; font-size: 1.8rem;
		text-align: center;
		color: var(--white);
	}

	.btn-container > h1 + button {
		margin-top: var(--padding-small);
	}

	.btn-container > p {
		font-size: 14px; font-size: 1.4rem;
		text-align: center;
		color: var(--white);
	}

	.btn-container > .btn {
		min-height: 50px;

		color: var(--primary-color);

		background-color: var(--white);
	}

	.btn-container > .btn--secondary {
		border: 2px solid var(--white);
		color: var(--white);
		background-color: var(--primary-color);
	}

	.btn-container > .btn--dismiss {
		position: absolute;

		left: 0;
		right: 0;
		bottom: calc(-50px + -16px);

		color: var(--white);
		background-color: var(--primary-color);
		transition: var(--btn-hover-transition);
	}

	.btn-container.visible {
		transform: translate(0, calc(var(--default-padding-negative) + -50px + -16px));
	}
/* =============================================================================
  #MEDIA QUERIES
============================================================================= */
@media screen and (min-width: 950px) {
	body > header {
		position: fixed;

		top: 0;
		right: 0;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;

		margin-left: auto;

		width: calc(100% - var(--profile-width));
		height: 160px;

		padding: 0;
		z-index: 100;
	}

	body > header > * { width: 100%; }

		body > header > div {
			position: relative;

			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;

			padding: var(--default-padding);

			background-color: var(--secondary-color);
			z-index: 20;
		}

			.nav--desktop {
				position: relative;

				left: auto;
				right: auto;
				bottom: auto;

				display: block;

				margin-left: 30px;

				border: none;
				background-color: transparent;

				height: 100%;
				min-width: fit-content;
			}

				.nav--desktop ul {
					margin: 0;
					justify-content: flex-end;
				}

					.nav--desktop ul li a {
						padding: var(--padding-small) var(--padding-medium);

						text-align: center;

						min-width: 75px;

						border-radius: 7px;
					}

		.nav--mobile { display: none; }

		.filters {
			position:static;
			display: flex;
			align-items: center;
			background-color: var(--primary-color);

			margin: -70px 0 0 0;
			padding: 0 var(--default-padding);
			height: 70px;

			transition: margin var(--default-transition);
		}

		.filters--open { margin: 0px 0 0 0; }

			.filters fieldset {
				height: var(--filter-height);
				min-width: max-content;
			}

				.filters fieldset label {
					user-select: none;

					color: var(--white);
					background-color: #A399FF;
				}

				.filters fieldset label > span:first-of-type {
					background-color: var(--white);
				}

				.filters fieldset label > span:first-of-type svg {
					fill: var(--white);
				}

				.filters fieldset input[type="checkbox"]:checked + label {
					background-color: var(--white);
					color: var(--primary-color);
				}

				.filters fieldset input[type="checkbox"]:checked + label > span:first-of-type {
					background-color: var(--primary-color);
				}

		.filters > button {
			position: absolute;

			top: unset;
			left: unset;
			right: unset;

			bottom: calc(-35px - var(--padding-medium));

			height: var(--filter-height);
			
			background-color: var(--white);
			color: var(--primary-color);
			
			z-index: 100;
			transition: all var(--default-transition);
		}

			.filters .filters__menu {
				position: relative;
				justify-content: center;

				left: auto;
				right: auto;
				top: auto;

				transform: none;

				height: 100%;
				width: 100%;
			}

				#open-filters,
				#apply-filters { display: none; }

				.filters .filters__container {
					display: flex;
					flex-wrap: nowrap;
					align-items: center;

					height: 100%;
				}

				.filters button + .filters__container {
					margin-bottom: 0;
				}

	main {
		margin: 0 0 0 auto;
		padding: 95px 0 24px 0;
		width: calc(100% - var(--profile-width));
		transition: padding var(--default-transition);
	}

		main > section.list {
			margin: 0;
		}

		.list__empty::before {
			content: "Drag something in here!";
		}

		section.list--grid ol li a > figure picture {
			height: 130px;
		}

	.filters--open + main {
		padding: calc(160px + var(--default-padding)) 0 24px 0;
	}


		section.profile {
			transform: translateX(0);
			
			border-right: var(--border-settings);
			width: var(--profile-width);
		}

			section.profile > section {
				padding: var(--default-padding) 0;
			}

		.notification {
			left: auto;
			right: var(--default-padding);
			bottom: 0;

			transform: translateY(100%);
	
			width: calc(100% - calc(var(--profile-width) + var(--default-padding) + var(--default-padding)));
		}

			.notification--open {
				bottom: var(--default-padding);
				transform: translateY(0);
			}

	.btn-container {
		left: auto;
		width: calc(100% - calc(var(--profile-width) + var(--default-padding) + var(--default-padding)));
	}
}

@media screen and (min-width: 1000px) {
	section.list--grid ol {
		grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
		gap: 18px;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--secondary-color: #FFFFFF;
		--secondary-color-light: #e7e8ea;
		--secondary-color-light-text: #3a3f4a;

		--text-color: #3a3f4a;
		--border-settings: 2px solid #cfd4db;
	}

	body > header > div {
		background-color: var(--primary-color);
	}

		body > header input[type="text"] {
			background-color: var(--white);
			color: var(--text-color);
		}

		body > header input[type="text"]::placeholder {
			font-weight: 700;
			font-size: 14px; font-size: 1.4rem;
			color: var(--text-color);
		}

	.filters > button {
		background-color: var(--primary-color);
		color: var(--white);
	}

	nav ul li a {
		background-color: var(--primary-color);
		color: var(--white);
	}

	nav ul li.active a {
		color: var(--primary-color);
		background-color: var(--white);
	}

	section.list ol li a > figure figcaption {
		border: var(--border-settings);
		background-color: var(--white);
		border-top: none;
	}
}