/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}

/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

:root {
	--color-main: #5e647f;
	--color-background: #1b1d29;
	--color-n: #ec3749;
	--color-o: #ae4bfa;
	--color-y: #3d9df7;
	--color-a: #ffaa17;
}
/* =============================================================================
  #GENERAL
============================================================================= */
* {
	font-family: inherit;
	line-height: inherit;
	color: inherit;
}

html {
	min-height: 100%;
	height: 100%;

	font-size: 16px;
	font-size: 62.5%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	font-family: chennai, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	font-size: 1.8rem;

	color: var(--color-main);

	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-background);
}

img {
	max-width: 100%;
	font-style: italic;
	vertical-align: middle;
}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
/* Heading 1 */
h1 {
	position: relative;

	display: flex;
	justify-content: center;
	text-align: center;

	font-size: 60px;
	font-size: 6.0rem;

	width: 250px;
}

	h1::before, h1::after {
		position: absolute;

		top: 50%;

		font-size: 118px;

		font-family: xenera, sans-serif;
		font-weight: 400;

		z-index: 10;
	}

	@keyframes blinkingEffect {
		0% {
			opacity: 100%;
		}

		50% {
			opacity: 0%;
		}

		100% {
			opacity: 100%;
		}
	}

	@keyframes scaleUpEffectLeft {
		0% {
			font-size: 118px;
			transform: translate(calc(-50% - 25px), calc(-50% + -8%));
		}

		100% {
			font-size: 165px;
			transform: translate(calc(-50% - 35px), calc(-50% + -8%));
		}
	}

	@keyframes scaleUpEffectRight {
		0% {
			font-size: 118px;
			transform: translate(calc(-50% + 25px), calc(-50% + -8%));
		}

		100% {
			font-size: 170px;
			transform: translate(calc(-50% + 35px), calc(-50% + -8%));
		}
	}

	@keyframes moveApartLeft {
		0% {
			transform: translate(calc(-50% - 35px), calc(-50% + -8%));
		}

		100% {
			left: 0;
			transform: translate(-50%, calc(-50% + -8%));
		}
	}

	@keyframes moveApartRight {
		0% {
			transform: translate(calc(-50% + 35px), calc(-50% + -8%));
		}

		100% {
			left: 100%;
			transform: translate(-50%, calc(-50% + -8%));
		}
	}

	@keyframes scaleDownEffectLeft {
		0% {
			font-size: 165px;
		}

		100% {
			font-size: 118px;
		}
	}

	@keyframes scaleDownEffectRight {
		0% {
			font-size: 165px;
		}

		100% {
			font-size: 118px;
		}
	}

	@keyframes closeEffectLeft {
		0% {
			left: 0;
		}

		100% {
			left: 22%;
		}
	}

	@keyframes closeEffectRight {
		0% {
			left: 100%;
		}

		100% {
			left: 78%;
		}
	}

	h1::before {
		content: "{";
		left: 50%;

		transform: translate(calc(-50% - 25px), calc(-50% + -8%));

		animation-name: blinkingEffect, scaleUpEffectLeft, moveApartLeft, scaleDownEffectLeft, closeEffectLeft;
		animation-duration: .5s, .2s, .2s, .2s, .4s;
		animation-direction: normal;
		animation-timing-function: normal;
		animation-iteration-count: 3, 1, 1, 1, 1;
		animation-fill-mode: forwards;

		animation-delay: 250ms, 1.65s, 1.85s, 2.1s, 2.46s;
	}

	h1::after {
		content: "}";
		left: 50%;

		transform: translate(calc(-50% + 25px), calc(-50% + -8%));

		animation-name: blinkingEffect, scaleUpEffectRight, moveApartRight, scaleDownEffectRight, closeEffectRight;
		animation-duration: .5s, .2s, .2s, .2s, .4s;
		animation-direction: normal;
		animation-timing-function: normal;
		animation-iteration-count: 3, 1, 1, 1, 1;
		animation-fill-mode: forwards;

		animation-delay: 250ms, 1.65s, 1.85s, 2.1s, 2.46s;
	}

	@keyframes revealLetters {
		0% {
			clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
		}

		100% {
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		}
	}

	@keyframes moveLetters {
		0% {
			width: calc(100% - 20px);
		}

		100% {
			width: 50%;
		}
	}

	h1 > span {
		position: relative;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);

		animation-name: revealLetters, moveLetters;
		animation-duration: .2s, .5s;
		animation-iteration-count: 1, 1;
		animation-timing-function: ease-out, ease-in-out;
		animation-fill-mode: forwards;
		animation-delay: 1.85s, 2.42s;

		width: calc(100% - 20px);
	}

	h1 span > span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;

		height: 53px;
	}

	h1 span > span > span {
		min-width: 50px;
	}

	/* Letter N */
	h1 span > span:first-of-type > span:first-of-type {
		color: var(--color-n);
	}

	/* Letter O */
	h1 span > span:first-of-type > span:last-of-type {
		color: var(--color-o);
	}

	h1 span > span:first-of-type > span:first-of-type,
	h1 span > span:first-of-type > span:last-of-type {
		font-family: como, sans-serif;
		font-weight: 800;
	}

	h1 span > span:last-of-type > span:first-of-type,
	h1 span > span:last-of-type > span:last-of-type {
		margin-top: 14px;
	}

	/* Letter Y */
	h1 span > span:last-of-type > span:first-of-type {
		color: var(--color-y);
	}

	/* Letter A */
	h1 span > span:last-of-type > span:last-of-type {
		color: var(--color-a);
	}