/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}

/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

:root {
	--color-main: #5e647f;
	--color-background: #1b1d29;
	--color-background-light: #f4f4f4;
	--color-n: #ec3749;
	--color-o: #ae4bfa;
	--color-y: #3d9df7;
	--color-a: #ffaa17;

	--default-font-size: 53px;
	--default-font-size-rem: 5.3rem;

	--brackets-size: 100px;
	--brackets-size-rem: 10.0rem;

	--brackets-size-small: 50px;
	--brackets-size-small-rem: 5.0rem;

	--brackets-scaled: 135px;
	--brackets-scaled-rem: 13.5rem;

	--l-bracket-start-location: translate(calc(-50% - 22px), calc(-50% + -8%));
	--r-bracket-start-location: translate(calc(-50% + 22px), calc(-50% + -8%));
	
	--l-bracket-scaled-location: translate(calc(-50% - 32px), calc(-50% + -8%));
	--r-bracket-scaled-location: translate(calc(-50% + 32px), calc(-50% + -8%));

	--brackets-end-location: translate(-50%, calc(-50% + -8%));

	--l-bracket-position: 22%;
	--r-bracket-position: 78%;

	--letter-height: 46px;
	--letter-width: 43px;

	--logo-width: 220px;

	--letter-Animation-Start: 1.85s;

	--default-transition: all 250ms ease-in-out;
}
/* =============================================================================
  #GENERAL
============================================================================= */
* {
	font-family: inherit;
	line-height: inherit;
	color: inherit;
}

html {
	min-height: 100%;
	height: 100%;

	font-size: 16px;
	font-size: 62.5%;
}

body {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 100%;
	height: 100%;

	font-family: chennai, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	font-size: 1.8rem;

	color: var(--color-main);

	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-background);
	transition: var(--default-transition);
}

body.lightmode {
	color: var(--color-background);
	background-color: var(--color-background-light);
}

img {
	max-width: 100%;
	font-style: italic;
	vertical-align: middle;
}

/* =============================================================================
  #UTILITIES
============================================================================= */
.hide {
	display: none;
}
/* =============================================================================
  #ANIMATIONS
============================================================================= */
/* BRACKET ANIMATIONS */
@keyframes blinkingEffect {
	0% {
		opacity: 100%;
	}

	50% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

@keyframes scaleInLeftEffect {
	0% {
		font-size: var(--brackets-size-small); font-size: var(--brackets-size-small-rem);
		transform: var(--l-bracket-start-location);
	}

	100% {
		font-size: var(--brackets-size); font-size: var(--brackets-size-rem);
		transform: var(--l-bracket-start-location);
	}
}

@keyframes scaleInRightEffect {
	0% {
		font-size: var(--brackets-size-small); font-size: var(--brackets-size-small-rem);
		transform: var(--r-bracket-start-location);
	}

	100% {
		font-size: var(--brackets-size); font-size: var(--brackets-size-rem);
		transform: var(--r-bracket-start-location);
	}
}

@keyframes scaleUpEffectLeft {
	0% {
		font-size: var(--brackets-size); font-size: var(--brackets-size-rem);
		transform: var(--l-bracket-start-location);
	}

	100% {
		font-size: var(--brackets-scaled); font-size: var(--brackets-scaled-rem);
		transform: var(--l-bracket-scaled-location);
	}
}

@keyframes scaleUpEffectRight {
	0% {
		font-size: var(--brackets-size); font-size: var(--brackets-size-rem);
		transform: var(--r-bracket-start-location);
	}

	100% {
		font-size: var(--brackets-scaled); font-size: var(--brackets-scaled-rem);
		transform: var(--r-bracket-scaled-location);
	}
}

@keyframes moveApartLeft {
	0% {
		transform: var(--l-bracket-scaled-location);
	}

	100% {
		left: 0;
		transform: var(--brackets-end-location);
	}
}

@keyframes moveApartRight {
	0% {
		transform: var(--r-bracket-scaled-location);
	}

	100% {
		left: 100%;
		transform: var(--brackets-end-location);
	}
}

@keyframes scaleDownEffectLeft {
	0% {
		font-size: var(--brackets-scaled); font-size: var(--brackets-scaled-rem);
	}

	100% {
		font-size: var(--brackets-size); font-size: var(--brackets-size-rem);
	}
}

@keyframes scaleDownEffectRight {
	0% {
		font-size: var(--brackets-scaled); font-size: var(--brackets-scaled-rem);
	}

	100% {
		font-size: var(--brackets-size); font-size: var(--brackets-size-rem);
	}
}

@keyframes closeEffectLeft {
	0% {
		left: 0;
	}

	100% {
		left: var(--l-bracket-position);
	}
}

@keyframes closeEffectRight {
	0% {
		left: 100%;
	}

	100% {
		left: var(--r-bracket-position);
	}
}
/* TEXT ANIMATIONS */
@keyframes revealLetters {
	0% {
		clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
	}

	100% {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}

@keyframes moveLetters {
	0% {
		width: calc(100% - 20px);
	}

	100% {
		width: 50%;
	}
}
/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
/* Heading 1 */
h1 {
	position: relative;

	display: flex;
	justify-content: center;
	text-align: center;

	font-size: var(--default-font-size); font-size: var(--default-font-size-rem);

	width: var(--logo-width);
}

	h1::before, h1::after {
		position: absolute;

		top: 50%;
		left: 50%;

		font-size: var(--brackets-size); font-size: var(--brackets-size-rem);

		font-family: xenera, sans-serif;
		font-weight: 400;

		animation-direction: normal;
		animation-timing-function: normal;
		animation-fill-mode: forwards;

		animation-duration: .5s, .2s, .2s, .2s, .4s;
		animation-iteration-count: 3, 1, 1, 1, 1;

		animation-delay: 250ms, 1.65s, var(--letter-Animation-Start), 2.1s, 2.46s;

		z-index: 10;
	}

	h1::before {
		content: "{";

		transform: var(--l-bracket-start-location);

		animation-name: blinkingEffect, scaleUpEffectLeft, moveApartLeft, scaleDownEffectLeft, closeEffectLeft;
	}

	h1::after {
		content: "}";

		transform: var(--r-bracket-start-location);

		animation-name: blinkingEffect, scaleUpEffectRight, moveApartRight, scaleDownEffectRight, closeEffectRight;
	}

	h1 > span {
		position: relative;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);

		animation-name: revealLetters, moveLetters;
		animation-duration: .2s, .5s;
		animation-iteration-count: 1, 1;
		animation-timing-function: ease-out, ease-in-out;
		animation-fill-mode: forwards;
		animation-delay: var(--letter-Animation-Start), 2.42s;

		width: calc(100% - 20px);
	}

	h1 span > span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;

		height: var(--letter-height);
	}

	h1 span > span > span {
		min-width: var(--letter-width);
	}

	/* Letter N */
	h1 span > span:first-of-type > span:first-of-type {
		color: var(--color-n);
	}

	/* Letter O */
	h1 span > span:first-of-type > span:last-of-type {
		color: var(--color-o);
	}

	h1 span > span:first-of-type > span:first-of-type,
	h1 span > span:first-of-type > span:last-of-type {
		font-family: como, sans-serif;
		font-weight: 800;
	}

	h1 span > span:last-of-type > span:first-of-type,
	h1 span > span:last-of-type > span:last-of-type {
		margin-top: 14px;
	}

	/* Letter Y */
	h1 span > span:last-of-type > span:first-of-type {
		color: var(--color-y);
	}

	/* Letter A */
	h1 span > span:last-of-type > span:last-of-type {
		color: var(--color-a);
	}

/* =============================================================================
  #INPUT STYLING
============================================================================= */
fieldset {
	position: fixed;

	bottom: 20px;
	left: 50%;

	transform: translateX(-50%);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

	fieldset input[type="checkbox"] {
		position: absolute;
		visibility: hidden;
		top: 0;
		right: 0;
		z-index: 5;
	}

	fieldset label {
		display: inline-block;
		position: relative;

		width: 60px;
		height: 30px;

		border-radius: 50px;

		background-color: var(--color-main);
		cursor: pointer;
		transition: var(--default-transition);
	}


		fieldset label::before {
			content: "";
			position: absolute;

			top: 0;
			left: 0;

			width: 50%;
			height: 100%;

			border-radius: 50%;

			background-color: #888fb1;

			transition: var(--default-transition);
		}

		input[type="checkbox"]:checked + label::before {
			transform: translateX(100%);
			background-color: #bababa;
		}

		input[type="checkbox"]:checked + label {
			background-color: #dedede;
		}
/* =============================================================================
  #MEDIA QUERIES
============================================================================= */
/* desktop size */
@media screen and (min-width: 600px) {
	:root {
		--logo-width: 250px;

		--default-font-size: 60px;
		--default-font-size-rem: 6.0rem;

		--brackets-size: 118px;
		--brackets-size-rem: 11.8rem;

		--brackets-scaled: 165px;
		--brackets-scaled-rem: 16.5rem;

		--l-bracket-position: 22%;
		--r-bracket-position: 78%;

		--letter-height: 53px;
		--letter-width: 50px;
	}
}

@media (prefers-color-scheme: light) {
	body {
		color: var(--color-background);
		background-color: var(--color-background-light);
	}
}

/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
	h1::before, h1::after {
		font-size: var(--brackets-size-small); font-size: var(--brackets-size-small-rem);

		animation-duration: .8s, .4s, .4s, .4s, .6s;
		animation-iteration-count: 1, 1, 1, 1, 1;
		animation-delay: 500ms, 1.4s, 1.8s, 2.3s, 2.7s;
	}

	h1::before {
		animation-name: scaleInLeftEffect, scaleUpEffectLeft, moveApartLeft, scaleDownEffectLeft, closeEffectLeft;
	}

	h1::after {
		animation-name: scaleInRightEffect, scaleUpEffectRight, moveApartRight, scaleDownEffectRight, closeEffectRight;
	}

	h1 > span {
		animation-duration: .4s, .5s;
		animation-delay: 1.8s, 2.7s;
	}
}